<mat-sidenav-container fullscreen>

    <!-- SIDENAV -->
    <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '300px' }" class="flex">
        <mat-toolbar>
            <span class="flex-1">Menú</span>
            <!-- <span class="flex-auto"></span> -->
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of sidebarItems" [routerLink]="item.url" (click)="sidenav.toggle()">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                {{ item.label }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <!-- TOOLBAR -->
    <mat-toolbar color="primary" class="flex">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="flex-1">Heroes APP</span>
        
        <button mat-button color="accent">
           <mat-icon>save</mat-icon>
           Salir
        </button>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>


