<div class="container mx-auto mt-5">
    <div class="flex flex-col">
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Nombre de Usuario">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingresar contraseña">
        </mat-form-field>

        <button mat-fab extended color="primary">
            <mat-icon>save</mat-icon>
            Ingresar
        </button>

    </div>
</div>

<div class="container mx-auto mt-5">
    <a routerLink="/auth/new-account">¿Ya tienes cuenta?</a>
</div>